.contact__outer {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.contact__outer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    54deg,
    rgba(74, 76, 179, 0.95) 34%,
    hsla(0, 34%, 71%, 0.95)
  );
  opacity: 0.9;
}

.contact__container {
  padding-top: 60px;
  margin-left: 8vw;
  margin-right: auto;
  padding-right: 15px;
  padding-bottom: 50px;
  position: relative;
}

.contact__container p {
  letter-spacing: 2px;
  color: white;
}

.contact__detail {
  margin-bottom: 45px;
}

.contact__list {
  font-size: 16px;
  line-height: 24px;
}

.contact__list dt {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  opacity: 0.4;
  color: white;
}

.contact__list dd {
  padding-left: 100px;
  margin-bottom: 15px;
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
}

.contact__list dd a {
  text-decoration: none;
  color: white;
}

.contact__social_icons a {
  color: white;
  font-size: 30px;
  margin-right: 20px;
  opacity: 0.5;
}

.contact__social_icons a:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

@media (max-width: 530px) {
  .contact__list dt {
    font-size: 15px;
  }
  .contact__list dd {
    font-size: 15px;
    padding-left: 30px;
  }
}
